.utilBox {
    border: solid 1px black;
}
.selectable {
	display: none;
}
.selectable.selected {
    display: inherit;
}

li.select_button {
    border: solid black 1px;
    border-radius: 9px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    display: inline-block;
}